@using TravelProgram.MVC.ViewModels.AuthVMs
@model AuthGetVM

@{
    Layout = "_ProfileLayout";
}


<div class="db-info-wrap">
    <div class="row">
        <div class="col-lg-12">
            <div class="dashboard-box table-opp-color-box">
                <h4>User Details</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Passport</th>
                                <th>Gender</th>
                                <th>Email</th>
                                <th>Birthdate</th>
                                @* <th>Bookings</th> *@
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.FullName</td>
                                <td>@Model.PhoneNumber</td>
                                <td>@Model.PassportNumber</td>
                                <td>@Model.Gender.ToString()</td>
                                <td>@Model.Email</td>
                                <td>@Model.BirthDate.ToLongDateString()</td>
                                @* <td>@Model.Bookings.Count</td> *@
                                <td>
                                    <a asp-action="editprofile" style="color: white" class="btn btn-primary">edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content / End -->
<!-- Copyrights -->
<div class="copyrights">
    Copyright © 2021 Travele. All rights reserveds.
</div>
