@using TravelProgram.MVC.ViewModels
@model HomeVM

<main id="content" class="site-main">
    <!-- Home banner html start -->
    <section class="home-banner-section">
        <div class="home-banner-items">
            <div class="banner-inner-wrap" style="background-image: url(https://picsum.photos/1200/700);"></div>
            <div class="banner-content-wrap">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="banner-content section-heading section-heading-white">
                                <h5>EXPLORE. DISCOVER. TRAVEL</h5>
                                <h2 class="banner-title">JOURNEY TO EXPLORE NATURE</h2>
                                <div class="title-icon-divider"><i class="fas fa-suitcase-rolling"></i></div>
                                <p>Taciti quasi, sagittis excepteur hymenaeos, id temporibus hic proident ullam, eaque donec delectus tempor consectetur nunc, purus congue? Rem volutpat sodales! Mollit. Minus exercitationem wisi.</p>
                                @* <div class="slider-button">
                                    <a href="#" class="button-primary">READ MORE</a>
                                    <a href="#" class="button-secondary">SEE ALL OFFER</a>
                                </div> *@
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Home search field html start -->
                            <div class="trip-search-section">
                                <div class="container">
                                    <div class="trip-search-inner secondary-bg">
                                        <form asp-action="Search" method="post">
                                            <div class="input-group width-col-1">
                                                <label> Departure City* </label>
                                                <input type="text" name="departureCity" placeholder="Enter City">
                                            </div>
                                            <div class="input-group width-col-1">
                                                <label> City Destination* </label>
                                                <input type="text" name="destinationCity" placeholder="Enter Destination">
                                            </div>
                                            <div class="input-group width-col-1">
                                                <label> Departure Time* </label>
                                                <i class="far fa-calendar"></i>
                                                <input class="input-date-picker" type="text" name="departureTime" placeholder="MM / DD / YY" autocomplete="off" readonly="readonly">
                                            </div>
                                            <div id="validation-summary" asp-validation-summary="ModelOnly"></div>
                                            <div class="input-group width-col-1">
                                                <label class="screen-reader-text"> Search </label>
                                                <button type="submit" class="btn btn-outline-light">SEARCH NOW</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- search search field html end -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
    </section>
    <!-- banner html start -->
    
    

    <!-- client html end -->
    <!-- Home packages section html start -->
    <section class="package-section bg-light-grey">
        <div class="container">
            <div class="section-heading text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5>EXPLORE GREAT CITIES</h5>
                        <h2>FOR YOU DESTINATION</h2>
                        <div class="title-icon-divider"><i class="fas fa-suitcase-rolling"></i></div>
                    </div>
                </div>
            </div>
            <div class="package-inner package-inner-list">
                <div class="row">
                    @if (Model == null || Model.Flights is null || !Model.Flights.Any())
                    {
                        <h2 style="margin-left: 310px" class="text-danger">NO FLIGHTS AVAILABLE</h2>
                    }
                    else
                    {
                        @foreach (var item in Model.Flights.Where(x => x.DepartureTime > DateTime.UtcNow.AddDays(1)))
                        {
                            <main style="margin-top: 20px" class="ticket-system">
                                <div class="receipts-wrapper">
                                    <div class="receipts">
                                        <div class="receipt">
                                            <div style="display: flex; justify-content: space-between">
                                                <div>
                                                    <i class="fa-solid fa-plane-departure"></i>
                                                    <a style="font-family: cursive; font-size: large; margin-left: 3px">@item.Plane.AirlineName</a>
                                                </div>
                                                <div>
                                                    <a>@item.DepartureTime.ToString("M")</a>
                                                </div>
                                            </div>
                                            <div class="route">
                                                <h2>@item.DepartureAirportCity</h2>
                                                <svg class="plane-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 510 510">
                                                    <path fill="#3f32e5" d="M497.25 357v-51l-204-127.5V38.25C293.25 17.85 275.4 0 255 0s-38.25 17.85-38.25 38.25V178.5L12.75 306v51l204-63.75V433.5l-51 38.25V510L255 484.5l89.25 25.5v-38.25l-51-38.25V293.25l204 63.75z" />
                                                </svg>
                                                <h2>@item.ArrivalAirportCity</h2>
                                            </div>
                                            <div class="details">
                                                <div class="item">
                                                    <span>Departure</span>
                                                    <h3 style="font-family: Arial; font-size: larger">@item.DepartureTime.ToShortTimeString()</h3>
                                                </div>
                                                <div class="item">
                                                    <span>Flight No.</span>
                                                    <h3 style="font-family: Arial; font-size: larger">@item.FlightNumber</h3>
                                                </div>
                                                <div class="item">
                                                    <span>Arrival</span>
                                                    <h3 style="font-family: Arial; font-size: larger">@item.ArrivalTime.ToShortTimeString()</h3>
                                                </div>
                                                <div class="item">
                                                    <span>Plane</span>
                                                    <h3 style="font-family: Arial; font-size: large">@item.PlaneName</h3>
                                                </div>
                                                <div class="item">
                                                    <span>Price(Eco)</span>
                                                    <h3 style="font-family: Arial; font-size: larger">$@item.SeatPrice</h3>
                                                </div>
                                                <div class="item">
                                                    <span>Total Seats</span>
                                                    <h3 style="font-family: Arial; font-size: larger">@item.Seats.Count</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="receipt qr-code">
                                            <a class="btn btn-outline-primary">Book Now<i style="margin-left: 3px" class="fas fa-arrow-right"></i></a>
                                            <form asp-action="AddToBasket" asp-route-flightId="@item.Id" method="post" style="display:inline;">
                                                <button type="submit" class="btn btn-outline-success" style="margin-left: 3px">Add to Basket<i style="margin-left: 3px" class="fas fa-arrow-right"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </main>
                        }
                    }
                </div>
                <div class="btn-wrap text-center">
                    <a href="#" class="button-primary">VIEW ALL FLIGHTS</a>
                </div>
            </div>
        </div>
    </section>
    <!-- packages html end -->


    <section class="home-about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="about-img-wrap">
                        <div class="about-img-left">
                            <div class="about-content secondary-bg d-flex flex-wrap">
                                <h3>Something you want to know about us !!</h3>
                                <a href="#" class="button-primary">LEARN MORE</a>
                            </div>
                            <div class="about-img">
                                <img src="https://picsum.photos/360/450" alt="">
                            </div>
                        </div>
                        <div class="about-img-right">
                            <div class="about-img">
                                <img src="https://picsum.photos/455/330" alt="">
                            </div>
                            <div class="about-img">
                                <img src="https://picsum.photos/365/305" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner-content section-heading">
                        <h5>INTRODUCTION ABOUT US</h5>
                        <h2 class="banner-title">ULTIMATE GUIDE TO EPIC ADVENTURE</h2>
                        <div class="title-icon-divider"><i class="fas fa-suitcase-rolling"></i></div>
                        <p>Aperiam sociosqu urna praesent, tristique, corrupti condimentum asperiores platea ipsum ad arcu. Nostrud. Esse? Aut nostrum, ornare quas provident laoreet nesciunt odio voluptates etiam, omnis.</p>
                    </div>
                    <div class="about-service-container">
                        <div class="about-service">
                            <div class="about-service-icon">
                                <img src="~/assets/images/icon15.png" alt="">
                            </div>
                            <div class="about-service-content">
                                <h4>BEST PRICE GUARANTEED</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                            </div>
                        </div>
                        <div class="about-service">
                            <div class="about-service-icon">
                                <img src="~/assets/images/icon16.png" alt="">
                            </div>
                            <div class="about-service-content">
                                <h4>AMAZING DESTINATION</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                            </div>
                        </div>
                        <div class="about-service">
                            <div class="about-service-icon">
                                <img src="~/assets/images/icon17.png" alt="">
                            </div>
                            <div class="about-service-content">
                                <h4>PERSONAL SERVICES</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client section html start -->
    <div class="client-section">
        <div class="container">
            <div class="client-wrap client-slider">
                <div class="client-item">
                    <figure>
                        <img src="~/assets/images/logo7.png" alt="">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img src="~/assets/images/logo8.png" alt="">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img src="~/assets/images/logo9.png" alt="">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img src="~/assets/images/logo10.png" alt="">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img src="~/assets/images/logo11.png" alt="">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img src="~/assets/images/logo8.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Home activity section html start -->
    <section class="activity-section activity-bg-image" style="background-image: url(assets/images/img29.jpg);">
        <div class="container">
            <div class="section-heading section-heading-white text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5>EXPLORE GREAT PLACES</h5>
                        <h2>POPULAR PACKAGES</h2>
                        <div class="title-icon-divider"><i class="fas fa-suitcase-rolling"></i></div>
                    </div>
                </div>
            </div>
            <div class="activity-inner row">
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="activity-item">
                        <div class="activity-icon">
                            <a href="#">
                                <img src="~/assets/images/img44.png" alt="">
                            </a>
                        </div>
                        <div class="activity-content">
                            <h4>
                                <a href="#">Adventure</a>
                            </h4>
                            <p>15 Destination</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="activity-item">
                        <div class="activity-icon">
                            <a href="#">
                                <img src="~/assets/images/img45.png" alt="">
                            </a>
                        </div>
                        <div class="activity-content">
                            <h4>
                                <a href="#">Trekking</a>
                            </h4>
                            <p>12 Destination</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="activity-item">
                        <div class="activity-icon">
                            <a href="#">
                                <img src="~/assets/images/img46.png" alt="">
                            </a>
                        </div>
                        <div class="activity-content">
                            <h4>
                                <a href="#">Camp Fire</a>
                            </h4>
                            <p>7 Destination</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="activity-item">
                        <div class="activity-icon">
                            <a href="#">
                                <img src="~/assets/images/img47.png" alt="">
                            </a>
                        </div>
                        <div class="activity-content">
                            <h4>
                                <a href="#">Off Road</a>
                            </h4>
                            <p>15 Destination</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="activity-item">
                        <div class="activity-icon">
                            <a href="#">
                                <img src="~/assets/images/img48.png" alt="">
                            </a>
                        </div>
                        <div class="activity-content">
                            <h4>
                                <a href="#">Camping</a>
                            </h4>
                            <p>13 Destination</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="activity-item">
                        <div class="activity-icon">
                            <a href="#">
                                <img src="~/assets/images/img49.png" alt="">
                            </a>
                        </div>
                        <div class="activity-content">
                            <h4>
                                <a href="#">Exploring</a>
                            </h4>
                            <p>25 Destination</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- activity html end -->
    <!-- Home choice section html start -->
    <section class="choice-section">
        <div class="container">
            <div class="section-heading text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5>JOURNEY IS FUN</h5>
                        <h2>TRAVELLER'S BEST CHOICE</h2>
                        <div class="title-icon-divider"><i class="fas fa-suitcase-rolling"></i></div>
                    </div>
                </div>
            </div>
            <div class="choice-slider">
                <div class="choice-slider-item" style="background-image: url(assets/images/img28.jpg);">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="choice-slider-content text-center">
                                <h3>Holiday to the Oxolotan River</h3>
                                <p>Maiores ab tempora deserunt quidem augue repellendus eleifend? Elementum sapien eu dis, rutrum augue nesciunt dolore viverra nec aspernatur proident eius porttitor faucibus netus? Maiores.</p>
                                <a href="#" class="button-primary">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="choice-slider-item" style="background-image: url(assets/images/img29.jpg);">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="choice-slider-content text-center">
                                <h3>Couple vacation to Malaysia</h3>
                                <p>Maiores ab tempora deserunt quidem augue repellendus eleifend? Elementum sapien eu dis, rutrum augue nesciunt dolore viverra nec aspernatur proident eius porttitor faucibus netus? Maiores.</p>
                                <a href="#" class="button-primary">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- choice html end -->
    <!-- Home special section html start -->
    <section class="special-section">
        <div class="container">
            <div class="section-heading text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5>TRAVEL OFFER & DISCOUNT</h5>
                        <h2>SPECIAL TRAVEL OFFER</h2>
                        <div class="title-icon-divider"><i class="fas fa-suitcase-rolling"></i></div>
                    </div>
                </div>
            </div>
            <div class="special-inner mt-0">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="special-overlay-inner">
                            <div class="special-overlay-item">
                                <figure class="special-img">
                                    <img src="~/assets/images/img11.jpg" alt="">
                                    <div class="badge-dis">
                                        <span>
                                            <strong>15%</strong>
                                            off
                                        </span>
                                    </div>
                                </figure>
                                <div class="special-content">
                                    <div class="meta-cat">
                                        <a href="#">MALAYSIA</a>
                                    </div>
                                    <h3>
                                        <a href="#">Sunset view of beautiful lakeside city</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="special-overlay-inner">
                            <div class="special-overlay-item">
                                <figure class="special-img">
                                    <img src="~/assets/images/img10.jpg" alt="">
                                    <div class="badge-dis">
                                        <span>
                                            <strong>15%</strong>
                                            off
                                        </span>
                                    </div>
                                </figure>
                                <div class="special-content">
                                    <div class="meta-cat">
                                        <a href="#">NEW ZEALAND</a>
                                    </div>
                                    <h3>
                                        <a href="#">Trekking to the mountain camp site</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="special-overlay-inner">
                            <div class="special-overlay-item">
                                <figure class="special-img">
                                    <img src="~/assets/images/img9.jpg" alt="">
                                    <div class="badge-dis">
                                        <span>
                                            <strong>15%</strong>
                                            off
                                        </span>
                                    </div>
                                </figure>
                                <div class="special-content">
                                    <div class="meta-cat">
                                        <a href="#">CANADA</a>
                                    </div>
                                    <h3>
                                        <a href="#">Experience the natural beauty of glacier</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- best html end -->
    <!-- Home subscribe section html start -->
    <section class="subscribe-section subscribe-bg-image" style="background-image: url(assets/images/img16.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section-heading section-heading-white pr-40">
                        <h5>TRAVEL OFFER & DISCOUNT</h5>
                        <h2>HOLIDAY SPECIAL 25% OFF !</h2>
                        <div class="title-icon-divider"><i class="fas fa-suitcase-rolling"></i></div>
                        <h4>Sign up now to recieve hot special offers and information about the best tour packages, updates and discounts !!</h4>
                        <div class="newsletter-form">
                            <form>
                                <input type="email" name="s" placeholder="Your Email Address">
                                <input type="submit" name="signup" value="SIGN UP NOW!">
                            </form>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Eaque adipiscing, luctus eleifend temporibus occaecat luctus eleifend tempo ribus.</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="progress-wrap">
                        <div class="progress-inner">
                            <div class="progress-circle" data-percentage="80">
                                <span class="circle-left">
                                    <span class="circle-bar"></span>
                                </span>
                                <span class="circle-right">
                                    <span class="circle-bar"></span>
                                </span>
                                <div class="progress-value">
                                    85%
                                </div>
                            </div>
                            <h4>Satisfied clients</h4>
                        </div>
                        <div class="progress-inner">
                            <div class="progress-circle" data-percentage="70">
                                <span class="circle-left">
                                    <span class="circle-bar"></span>
                                </span>
                                <span class="circle-right">
                                    <span class="circle-bar"></span>
                                </span>
                                <div class="progress-value">
                                    75%
                                </div>
                            </div>
                            <h4>Reasonable price</h4>
                        </div>
                        <div class="progress-inner">
                            <div class="progress-circle" data-percentage="70">
                                <span class="circle-left">
                                    <span class="circle-bar"></span>
                                </span>
                                <span class="circle-right">
                                    <span class="circle-bar"></span>
                                </span>
                                <div class="progress-value">
                                    70%
                                </div>
                            </div>
                            <h4>Best destination</h4>
                        </div>
                        <div class="progress-inner">
                            <div class="progress-circle" data-percentage="90">
                                <span class="circle-left">
                                    <span class="circle-bar"></span>
                                </span>
                                <span class="circle-right">
                                    <span class="circle-bar"></span>
                                </span>
                                <div class="progress-value">
                                    90%
                                </div>
                            </div>
                            <h4>Positive reviews</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe html end -->
    <!-- Home team section html start -->
    <section class="team-section">
        <div class="container">
            <div class="section-heading text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5>TEAM MEMBERS</h5>
                        <h2>OUR TOUR GUIDE</h2>
                        <div class="title-icon-divider"><i class="fas fa-suitcase-rolling"></i></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="team-item">
                        <figure class="team-image">
                            <img src="~/assets/images/img38.jpg" alt="">
                        </figure>
                        <div class="team-content">
                            <div class="heading-wrap">
                                <h3>Sony Madison</h3>
                                <h5>Travel Agent</h5>
                            </div>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-item">
                        <figure class="team-image">
                            <img src="~/assets/images/img42.jpg" alt="">
                        </figure>
                        <div class="team-content">
                            <div class="heading-wrap">
                                <h3>Alison White</h3>
                                <h5>Travel Guide</h5>
                            </div>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-item">
                        <figure class="team-image">
                            <img src="~/assets/images/img43.jpg" alt="">
                        </figure>
                        <div class="team-content">
                            <div class="heading-wrap">
                                <h3>William Hobb</h3>
                                <h5>Travel Guide</h5>
                            </div>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-item">
                        <figure class="team-image">
                            <img src="~/assets/images/img39.jpg" alt="">
                        </figure>
                        <div class="team-content">
                            <div class="heading-wrap">
                                <h3>Jennie Bennett</h3>
                                <h5>Travel Guide</h5>
                            </div>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home blog section html start -->
    <section class="blog-section">
        <div class="container">
            <div class="section-heading text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5>FROM OUR BLOG</h5>
                        <h2>OUR RECENT POSTS</h2>
                        <div class="title-icon-divider"><i class="fas fa-suitcase-rolling"></i></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <article class="post">
                        <figure class="feature-image">
                            <a href="#">
                                <img src="~/assets/images/img17.jpg" alt="">
                            </a>
                        </figure>
                        <div class="entry-content">
                            <h3>
                                <a href="#">Life is a beautiful journey not a destination</a>
                            </h3>
                            <div class="entry-meta">
                                <span class="byline">
                                    <a href="#">Demoteam</a>
                                </span>
                                <span class="posted-on">
                                    <a href="#">August 17, 2021</a>
                                </span>
                                <span class="comments-link">
                                    <a href="#">No Comments</a>
                                </span>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4">
                    <article class="post">
                        <figure class="feature-image">
                            <a href="#">
                                <img src="~/assets/images/img18.jpg" alt="">
                            </a>
                        </figure>
                        <div class="entry-content">
                            <h3>
                                <a href="#">Take only memories, leave only footprints</a>
                            </h3>
                            <div class="entry-meta">
                                <span class="byline">
                                    <a href="#">Demoteam</a>
                                </span>
                                <span class="posted-on">
                                    <a href="#">August 17, 2021</a>
                                </span>
                                <span class="comments-link">
                                    <a href="#">No Comments</a>
                                </span>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4">
                    <article class="post">
                        <figure class="feature-image">
                            <a href="#">
                                <img src="~/assets/images/img19.jpg" alt="">
                            </a>
                        </figure>
                        <div class="entry-content">
                            <h3>
                                <a href="#">Journeys are best measured in new friends</a>
                            </h3>
                            <div class="entry-meta">
                                <span class="byline">
                                    <a href="#">Demoteam</a>
                                </span>
                                <span class="posted-on">
                                    <a href="#">August 17, 2021</a>
                                </span>
                                <span class="comments-link">
                                    <a href="#">No Comments</a>
                                </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- blog html end -->
    <!-- Home callback section html start -->
    <section class="bg-img-callback" style="background-image: url(assets/images/img26.jpg);">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-9 col-md-8">
                    <div class="callback-content">
                        <h2>JOIN US FOR MORE UPDATE !!</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Eaque adipiscing, luctus eleifend temporibus occaecat luctus eleifend tempo ribus.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="button-wrap">
                        <a href="#" class="button-primary">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- callback html end -->
</main>